# Expo
.expo/
dist/
web-build/

# Logs
logs
*.log
npm-debug.*
yarn-debug.*
yarn-error.*
pnpm-debug.*
lerna-debug.*

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env

# macOS
.DS_Store
*.pem

# typescript
expo-env.d.ts
*.tsbuildinfo